<form [formGroup]="form" style="position: sticky;top: 70px;">
    <div class="card-container">
        <div class="card">
            <div class="w-40" style="display: flex;
            flex-direction: column;
            justify-content: space-between;">
                <div class="field-wrap">
                    <label for="amount">Amount</label>
                    <input type="text" id="amount" name="amount" numbersOnly formControlName="amount">
                </div>
                <div class="converted-value-container">
                    1.00 EUR = {{oneUSDValue}} {{currency | uppercase}}
                </div>
            </div>
            <div class="w-60">
                <div style="display: flex;">
                    <div class="field-wrap w-45">
                        <label for="from">Form</label>
                        <select name="from" id="from" formControlName="from">
                            <option [value]="country" *ngFor="let country of countries">{{country}}</option>
                            <!-- Exceed API Limitation, so using static values to check -->
                            <option value="EUR">EUR</option>
                            <option value="USD">USD</option>
                            <option value="GBP">GBP</option>
                        </select>
                    </div>
                    <div class="w-10">
                        <img src="../../../../assets/images/convert.jpg" style="cursor: pointer;" (click)="onSwap()"
                            width="80">
                    </div>
                    <div class="field-wrap w-45">
                        <label for="to">To</label>
                        <select name="to" id="to" formControlName="to">
                            <option [value]="country" *ngFor="let country of countries">{{country}}</option>
                            <!-- Exceed API Limitation, so using static values to check -->
                            <option value="EUR">EUR</option>
                            <option value="USD">USD</option>
                            <option value="GBP">GBP</option>
                        </select>
                    </div>
                </div>

                <div>
                    <button class="w-100" type="button" (click)="convert()">Convert</button>
                </div>
                <div style="display: flex;align-items: center;">
                    <div class="converted-value-container" [ngClass]="hideMore ? 'w-100':'w-70'">
                        {{convertedUSDValue}} {{currency | uppercase}}
                    </div>
                    <div class="w-30" *ngIf="!hideMore">
                        <button class="w-100" type="button" (click)="moreDetails()">More Details</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>